body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    overflow-x: hidden;
}


/* Horní lišta */

header {
    text-align: center;
    padding: 35px 20px;
    background-color: white;
}


.logo {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}


/* Menu */

nav a {
    text-decoration: none;
    color: #333;
    margin: 0 18px;
    font-size: 16px;
    font-weight: 500;
}


nav a:hover {
    color: #7aa874;
}


/* Hlavní fotka */

.hero {
    width: 100%;
}


.hero img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}


/* Text pod fotkou */

.intro {
    text-align: center;
    padding: 50px 20px;
}


.slogan {
    font-size: 24px;
    color: #5f8f5b;
    margin-bottom: 30px;
}


.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 14px;
    margin-top: 20px;
}


.contact a,
.location a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
}


.contact a:hover,
.location a:hover {
    color: #7aa874;
}

/* Galerie microgreens */

.products {
    text-align: center;
    padding: 50px 40px;
}


.products h1 {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 40px;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}


.plant img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 12px;
}


.plant p {
    font-size: 18px;
    margin-top: 15px;
}


/* Mobilní verze */

@media (max-width: 700px) {

    header {
        padding: 25px 15px;
    }


    .logo {
        font-size: 26px;
    }


    nav a {
    margin: 0 5px;
    font-size: 13px;
}

   .hero img {
    height: 280px;
}

    .slogan {
        font-size: 20px;
    }


    .contact {
    flex-direction: column;
    width: auto;
    gap: 15px;
}

.location {
    text-align: center;
    font-size: 14px;
    margin-top: 25px;
}


.location a {
    text-decoration: none;
    color: #555;
}


.location a:hover {
    color: #7aa874;
}

.email-location {
    text-align: center;
}


.email-location .location {
    margin-top: 10px;
}

    .products {
        padding: 40px 20px;
    }


    .gallery {
        grid-template-columns: 1fr;
        gap: 30px;
    }


    .plant img {
        height: 250px;
    }

